<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${nameOfApplication}">Matches</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0f172a">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="World Cup">
  <link rel="apple-touch-icon" href="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</head>

<body class="flex flex-col gap-4 bg-zinc-100">
<nav class="relative bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="flex flex-1 gap-4 sm:gap-0 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img src="logo.png" alt="Word Cup Prediction" class="h-12 w-auto" />
        </div>
        <div class="sm:ml-6 sm:flex sm:space-x-8">
          <a href="/matches" class="inline-flex items-center border-b-2 border-indigo-600 px-1 pt-1 text-sm font-medium text-gray-900">Matches</a>
        </div>
        <div class="sm:ml-6 sm:flex sm:space-x-8">
          <a href="/results" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Results</a>
        </div>
        <div class="sm:ml-6 sm:flex sm:space-x-8">
          <a href="/scoreboard" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Scoreboard</a>
        </div>
        <div class="sm:ml-6 sm:flex sm:space-x-8" id="install-nav">
          <a href="/install" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Install</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="p-4 flex flex-col gap-4 mx-auto">
  <th:block th:each="match, stat : ${matches}">
  <th:block th:with="prediction=${predictions != null ? predictions.get(match) : null}">
  <th:block th:with="result=${results != null ? results.get(match) : null}">
  <th:block th:with="stats=${predictionStats != null ? predictionStats.get(match) : null}">
    <div class="overflow-hidden rounded-lg bg-white shadow-sm sm:w-2xl">
      <form class="px-4 py-5 sm:p-6 grid grid-cols-12 gap-4 text-center prediction-form" action="matches" method="post">
        <input name="team1" th:value="${match.team1()}" class="hidden">
        <input name="team2" th:value="${match.team2()}" class="hidden">
        <input name="date" th:value="${match.date()}" class="hidden">
        <input name="time" th:value="${match.time()}" class="hidden">

        <div th:if="${match.hasStarted()}"
             class="col-span-12 bg-amber-500 text-white text-center py-2 font-semibold rounded-md">
          HAS STARTED
        </div>

        <div class="col-span-12 w-full"
             th:text="${match.ground()}">
        </div>

        <div class="text-2xl col-span-12 w-full"
             th:if="${match.group() != null}"
             th:text="${match.group()} + ' - ' + ${match.round()}">
        </div>

        <div class="text-2xl col-span-12 w-full"
             th:if="${match.group() == null}"
             th:text="'KO - ' + ${match.round()}">
        </div>

        <div class="col-span-12 w-full my-4 border-t border-gray-300"></div>

        <div class="text-sm sm:text-3xl m-auto col-span-3 sm:col-span-4" th:text="${match.team1}"></div>
        <input th:value="${prediction != null ? prediction.Score1() : ''}"
               th:disabled="${match.hasStarted()}"
               required
               name="score1"
               class="col-span-2 sm:col-span-1 ml-auto my-auto w-10 h-10 border-2 rounded
               text-center disabled:opacity-40 disabled:cursor-not-allowed"
               type="number"
               min="0">
        <div class="m-auto text-2xl col-span-2">vs</div>
        <input th:value="${prediction != null ? prediction.Score2() : ''}"
               th:disabled="${match.hasStarted()}"
               required
               name="score2"
               class="col-span-2 sm:col-span-1 mr-auto my-auto w-10 h-10 border-2 rounded
               text-center disabled:opacity-40 disabled:cursor-not-allowed"
               type="number"
               min="0">
        <div class="text-sm sm:text-3xl m-auto col-span-3 sm:col-span-4" th:text="${match.team2}"></div>

        <div class="col-span-12 w-full my-4 border-t border-gray-300"></div>

        <div class="ml-auto grid col-span-5" th:if="${stats != null}">
          <span th:text="${#numbers.formatDecimal(stats.team1WinPercentage(), 1, 1)} + '%'"></span>
          <span>Win</span>
        </div>
        <div class="grid col-span-2" th:if="${stats != null}">
          <span th:text="${#numbers.formatDecimal(stats.drawPercentage(), 1, 1)} + '%'"></span>
          <span>Draw</span>
        </div>
        <div class="mr-auto grid col-span-5" th:if="${stats != null}">
          <span th:text="${#numbers.formatDecimal(stats.team2WinPercentage(), 1, 1)} + '%'"></span>
          <span>Win</span>
        </div>

        <div th:if="${stats != null}" class="col-span-12 w-full my-4 border-t border-gray-300"></div>

        <div class="m-auto col-span-12 localtime"
             th:text="${match.getLocalTimeIso()}">
        </div>
      </form>
    </div>
  </th:block>
  </th:block>
  </th:block>
  </th:block>
</div>

</body>
</html>

<script>
    document.querySelectorAll('.prediction-form').forEach(form => {
        const inputs = form.querySelectorAll('input[type="number"]');

        inputs.forEach(input => {
            input.addEventListener('change', async () => {
                if (!form.checkValidity()) return;

                const formData = new FormData(form);

                try {
                    const response = await fetch(form.action, {
                        method: form.method || 'POST',
                        body: formData
                    });

                    if (!response.ok) {
                        console.error("Submit failed");
                        return;
                    }

                    // optional: handle response
                    const html = await response.text();
                    console.log("Saved successfully");

                } catch (err) {
                    console.error("Network error:", err);
                }
            });
        });
    });
</script>

<script>
    document.querySelectorAll('.localtime').forEach(localtime => {
        const isoDateTime = localtime.textContent.trim();
        const date = new Date(isoDateTime);

        const formattedTime = date.toLocaleString('de-DE', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });

        const now = new Date();
        let diff = date - now;

        if (diff < 0) {
            localtime.textContent = `${formattedTime} (started)`;
            return;
        }

        const totalMinutes = Math.floor(diff / (1000 * 60));
        const days = Math.floor(totalMinutes / (60 * 24));
        const hours = Math.floor((totalMinutes % (60 * 24)) / 60);
        const minutes = totalMinutes % 60;

        localtime.textContent =
            `${formattedTime} (in ${days}d ${hours}h ${minutes}m)`;
    });
</script>

<script>
    const installNav = document.querySelector("#install-nav");

    if (
        window.matchMedia("(display-mode: standalone)").matches ||
        window.navigator.standalone === true
    ) {
        installNav.hidden = true;
    }
</script>

<style>
    /* Chrome, Edge, Safari */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
</style>