<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${nameOfApplication}">Title</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0f172a">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="World Cup">
  <link rel="apple-touch-icon" href="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</head>

<body class="flex flex-col gap-4 bg-zinc-100 h-screen">
<nav class="relative bg-white shadow-sm px-4 py-2">
  <div class="flex gap-4 items-center justify-center sm:items-stretch sm:justify-start">
    <div class="flex shrink-0 items-center">
      <img src="logo.png" alt="Word Cup Prediction" class="h-12 w-auto" />
    </div>
    <div class="my-auto sm:ml-10">
      <a href="/matches" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Matches</a>
    </div>
    <div class="my-auto">
      <a href="/results" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Results</a>
    </div>
    <div class="my-auto">
      <a href="/scoreboard" class="inline-flex items-center border-b-2 border-indigo-600 px-1 pt-1 text-sm font-medium text-gray-900">Scoreboard</a>
    </div>
    <div class="my-auto mr-auto">
      <a href="/rules" class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900">Rules</a>
    </div>
  </div>
</nav>

<div class="m-2 rounded px-4 sm:px-6 lg:px-8 flex flex-col gap-4">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Scoreboard</h1>
    </div>
  </div>
  <div th:if="${isLiveUpdated}" class="relative w-full bg-red-100 text-black text-center py-2 font-semibold rounded-md">
    <div>Live Updated</div>
    <span class="absolute top-2 right-2 flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
            <span class="relative inline-flex h-3 w-3 rounded-full bg-red-500"></span>
          </span>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-sm outline-1 outline-black/5 sm:rounded-lg">
          <table class="relative min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Rank</th>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Points</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last 3 Rounds</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <th:block th:each="player, stat : ${players}">
              <tr>
                <td th:text="${
                    stat.index == 0 ? '🥇 1' :
                    stat.index == 1 ? '🥈 2' :
                    stat.index == 2 ? '🥉 3' :
                    stat.index + 1
                }"
                class="px-2 text-center">
                </td>
                <td th:text="${player.name}"
                    class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6">
                </td>
                <td th:text="${player.getPoints()} + ' pt'"
                    class="px-3 py-4 text-sm whitespace-nowrap">
                </td>
                <td class="flex px-3 py-4">
                  <th:block th:each="diffPoint : ${player.getDiffPointsScoredPerMatch()}">
                  <span
                    th:text="'+' + ${diffPoint}"
                    class="mr-auto text-sm whitespace-nowrap text-green-700">
                  </span>
                  </th:block>
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg bg-white shadow-sm">
    <div class="px-4 py-5 sm:p-6">
      <img class="w-full max-w-3xl h-auto mx-auto rounded" src="/scoreboard.png"  alt="scoreboard"/>
    </div>
  </div>
</div>

<a href="/install"
   class="mt-auto sticky bottom-0 right-0 text-center py-2 px-4 text-sm font-medium text-white bg-indigo-600"
   id="install-nav">
  Install as PWA
</a>

</body>

<script>
    const installNav = document.querySelector("#install-nav");

    if (
        window.matchMedia("(display-mode: standalone)").matches ||
        window.navigator.standalone === true
    ) {
        installNav.hidden = true;
    }
</script>